<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    {% block content %}

    <h3>Add user</h3>

    <p>Please fill out the form and submit to add a user!</p>

    <form action="/create_user" method="POST">
        <p> 
            <label>User:</label>
            <input type="text" name="User", value="User">
        </p>
        <p>
            <label>Number followers:</label>
            <input type="number", name="Followers", value=0>
        </p>
        <button>Submit</button>
    </form>

    {% endblock %}
</body>
</html>