<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
    <script>
        function alertUser(msg) {
            if (msg != '') {
                alert(msg);
            }
        }

        function displayItem(item, state) {
            var i = document.getElementById(item);
            i.style.visibility = state;
        }
    </script>
  </head>
  
{% block content %}
<body onload="alertUser('{{message}}')">
    <nav>
      <a href="/" class="brand"><span>TwitOff!</span></a>

      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">Menu</label>

      <div class="menu">
        <a href="/update" class="button warning">Update Tweets</a>
      </div>
    </nav>

    <article class="flex two" style="padding: 5em 1em;">
      
      <div>
        <h3>Select two users to compare</h3>
        <form action="/compare" method="post">
          <select name="user1">
            {% for user in users %}
            {% if user.user == username1 %}
              <option value="{{ user.user }}" selected>{{user.name}} ({{ user.user }})</option>
            {% else %}
              <option value="{{ user.user }}">{{user.name}} ({{ user.user }})</option>
            {% endif %}
            {% endfor %}
          </select>
          <select name="user2" style='margin-top: 5px;'>
            {% for user in users %}
            {% if user.user == username2 %}
              <option value="{{ user.user }}" selected>{{user.name}} ({{ user.user }})</option>
            {% else %}
              <option value="{{ user.user }}">{{user.name}} ({{ user.user }})</option>
            {% endif %}
            {% endfor %}
          </select>
          <h4>Enter text to predict</h4>
          {% if result %}
            <input id='tweet' type="text" name="tweet_text" value='{{tweet}}'>
          {% else %}
            <input id='tweet' type="text" name="tweet_text" placeholder="Tweet text to predict">
          {% endif %}
          <input type="submit" value="Compare Users">
        </form>

        {% if result %}
          <div id='result' style='margin-top: 20px'>
            <h4>{{result}}</h4>
          </div>
        {% endif %}
      </div>

      <div>
        <h3>Twitter Users</h3>
        
        <form action="/create_user" method="post">
           <input type="text" name="User" placeholder="User to add">
           <input type="submit" value="Add User">
        </form>

        <form action="/user" method="post" style='margin-top: 10px;'>
          <select name="User">
            {% for user in users %}
              {% if user.user == username %}
                <option value="{{ user.user }}" selected>{{ user.name }} ({{ user.user }})</option>
              {% else %}
                <option value="{{ user.user }}">{{ user.name }} ({{ user.user }})</option>
              {% endif %}
            {% endfor %}
          </select>
          <input type="submit" value="View Tweets">
        </form>

        {% if tweets %}
          <div id='tweets' style='visibility: visible'>
          <h4>Tweets from {{name}} ({{username}})</h4>
             <iframe srcdoc='{{tweets}}' style='width: 100%; height: 250px'></iframe>
             <a onclick="displayItem('tweets', 'hidden')" href='#'>close</a>
          </div>
        {% elif updates %}
        <div id='tweets' style='visibility: visible'>
          <h4>Tweet Updates</h4>
             <iframe srcdoc='{{updates}}' style='width: 100%; height: 250px'></iframe>
             <a onclick="displayItem('tweets', 'hidden')" href='#'>close</a>
          </div>
        {% endif %}

      </div>
      
    </article>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>
  {% endblock %}
</html>