<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <h3>Current Users</h3>
    {% if Users %}
    <table style="width: 25%">
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Followers</th>
        </tr>
        {% for user in Users %}
        <tr>
            <td>{{user['id']}}</td>
            <td>{{user['user']}}</td>
            <td>{{user['followers']}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No users yet</p>
    {% endif %}
    <p><a href = 'index'>Back...</a></p>

    {% endblock %}
</body>
</html>