<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <h1>Fetching tweets for {{user}}</h1>
        <h3>This may take a few moments, please be patient.</h3>
    
        <script>
            setTimeout(function(){
               window.location.href = '/waiting/{{user}}';
            }, 3000);
         </script>
    {% endblock %}
</body>
</html>