<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
</head>
<body>
    <nav>
        <a href="#" class="brand"><span>TwitOff!</span></a>
    </nav>
    {% block content %}
    <div style="padding: 5em 1em;">
        <h2>Fetching tweets for {{user}}</h2>
        <h4>This may take a few moments, please be patient.</h4>
        {% if count > -1 %}
            <h4>{{count}} remaining tweets to read for {{user}}</h4>
        {% endif %}
    
        <script>
            setTimeout(function(){
               window.location.href = '/waiting/{{user}}';
            }, 300);
         </script>
    </div>
    {% endblock %}
</body>
</html>